* {
    font-family: 'Work Sans', sans-serif;
}

/* header and navigation styles */
header {
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 228px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner styles */
.banner {
    margin: 0px 20px;
}

.banner-title {
    margin: 100px 530px 0px 530px;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-info {
    margin: 0px 530px 30px 530px;
    font-weight: 400;
    font-size: 16px;
    width: 868px;
    height: 52px;
    color: #727272;
}

.btn-primary {
    margin: 0px 870px 50px 870px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: darkorange;
    color: #FFFFFF;
}

.second-part img {
    width: 708px;
    height: 708px;
    border-radius: 8px;
}

/* second-part images and styles */
.team-work-details {
    display: flex;
}
.second-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-top: 85px;
    padding-bottom: 130px;

}

.second-part-info {
    width: 586px;
    height: 982px;
    padding-left: 73px;
}



.second-part-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-black {
    color: #131313;
}

.text-orange {
    color: #FF900E;
}

.text-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/*-----------------
third-part-styles
----------------- */
.third-section-container-box {
    display: flex
}

.third-part-common {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.third-part-container {
    display: flex;
    width: 586px;
    height: 982px;
}

.third-part-container img {

    width: 708px;
    height: 982px;
    left: 972px;
    top: 2245px;
    border-radius: 8px;
}

.third-part-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.third-part-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.small-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.small-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* some-facts-section */

.facts-title {
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}