* {
    font-family: 'Work Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper{
    margin-right: auto;
    margin-left: auto;
}

/* header and navigation styles */
header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.text-center {
    text-align: center;
}

/* banner styles */
.banner {
    background: rgba(255, 144, 14, 0.1);
}

img {
    max-width: 100%;
}

.image-banner {
    margin-bottom: 45px;
}

.banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 0;
    padding-top: 60px;
}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #727272;
}

.btn-primary {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: darkorange;
    color: #FFFFFF;
    border: 0 none;
    margin-bottom: 35px;
}

.second-part img {
    border-radius: 8px;
}

/* second-part images and styles */
.team-work-details {
    padding-top: 75px;
    padding-bottom: 75px;
}
.column{
    display: grid;
    align-items:center;
    grid-template-columns: repeat(2, 1fr);
}

.second-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.second-part-info {
    padding-left: 73px;
}



.second-part-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-black {
    color: #131313;
}

.text-orange {
    color: #FF900E;
}

.text-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 28px;
    margin-bottom: 35px;
}

/*-----------------
third-part-styles
----------------- */
.third-section-container-box .first-coloumn {
    padding-right: 150px;
}

.third-section-container-box .first-coloumn .third-part-title {
    border-left: 2px solid darkorange;
    padding-left: 20px;
}

.third-part-common {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 30px;
}

.third-part-common .small-title {
    margin-top: 0;
}

.third-part-container {
    display: flex;
}

.third-part-container img {
    border-radius: 8px;
}

.third-part-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.third-part-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 28px;
}

.small-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.small-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.experience {
    background: darkorange;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-top: -100px;
    margin-left: -100px;
}
.experience span {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    display: block;
    width: 100%;
}
/* some-facts-section */

.facts-title-container {
    padding-top: 75px;
}

.facts-title {
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 0;
    margin-bottom: 0;
}

.facts-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 28px;
}

/* facts-container styles */
.facts-container {
    display: flex;
    justify-content: center;
}

.facts {
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.column-fact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
    text-align: center;
}

img {
    justify-content: center;
}

.fact-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.facts {
    padding: 45px;
}
.facts p {
    margin: 0;
}

.fact-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* our sponsors styles */

.sponsors {
    padding-top: 120px;
    padding-bottom: 90px;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 28px;
    margin-bottom: 60px;
}

.logo-coloumn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 75px;
}

.copyright {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    margin-bottom: 100px;
}



/*------------------------------
   Media queries and responsive
-------------------------------*/
@media (min-width:576px){
    .wrapper{max-width:540px
    }
}
    
@media (min-width:768px){
    .wrapper{max-width:720px}
}

@media (min-width:992px){
    .wrapper{max-width:960px}
}

@media (min-width:1200px){
    .wrapper{max-width:1140px}
}

@media (min-width:1400px){
    .wrapper{max-width:1320px}
}

@media only screen and (max-width:992px) {
    .nav-title {
        font-size: 28px;
    }
    .column {
        grid-template-columns: repeat(1, 1fr);
    }
    .column-fact {
        grid-template-columns: repeat(2, 1fr);
    }
    .second-part-info {
        padding-left: 0;
    }
    .third-section-container-box .first-coloumn {
        padding-right: 0;
    }
    .second-coloumn {
        padding-left: 90px;
    }
}

@media only screen and (max-width:688px) {
    nav {
        justify-content: center;
    }
    nav li {
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner-title {
        font-size: 45px;
    }
    .column{
        flex-direction: column;
    }
    .column-fact{
        gap: 30px
    }
    .logo-coloumn {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}