* {
    font-family: 'Work Sans', sans-serif;
}
.wrapper{
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:576px){.wrapper{max-width:540px
    }}
    
@media (min-width:768px){.wrapper{max-width:720px}}

@media (min-width:992px){.wrapper{max-width:960px}}

@media (min-width:1200px){.wrapper{max-width:1140px}}

@media (min-width:1400px){.wrapper{max-width:1320px}}

/* header and navigation styles */
header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.text-center {
    text-align: center;
}

/* banner styles */
.banner {
    margin: 0px 20px;
}

img {
    max-width: 100%;
}

.banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-info {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-primary {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: darkorange;
    color: #FFFFFF;
}

.second-part img {
    border-radius: 8px;
}

/* second-part images and styles */
.team-work-details {
    display: flex;

}
.column{
    display: grid;
    align-items:center;
    grid-template-columns: repeat(2, 1fr);
}

.second-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-top: 85px;
    padding-bottom: 130px;

}

.second-part-info {
    padding-left: 73px;
}



.second-part-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-black {
    color: #131313;
}

.text-orange {
    color: #FF900E;
}

.text-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/*-----------------
third-part-styles
----------------- */
.third-section-container-box {
    display: flex
}

.third-part-common {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.third-part-container {
    display: flex;
}

.third-part-container img {
    border-radius: 8px;
}

.third-part-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.third-part-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.small-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.small-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* some-facts-section */

.facts-title-container {
    
}

.facts-title {
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* facts-container styles */
.facts-container {
    display: flex;
    justify-content: center;
}

.facts {
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.column-fact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img {
    justify-content: center;
}

.fact-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* our sponsors styles */

.sponsors {
    padding-top: 180px;
    padding-bottom: 50px;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.copyright {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    background: #FFF4E7;
    border-radius: 8px;
}



/*-------------------
   Media queries
-------------------*/

@media only screen and (max-width:688px) {
   nav{
    flex-direction: column;
    width: 100%;
    justify-content: center;
   } 
   ul{
    flex-direction: column;
    justify-content: center;
   }
   .column{
    flex-direction: column;
   }
   .second-block{

   }
   .column-fact{
    grid-template-columns: repeat(1 1fr)

   }
}